//- .wgc-slider-wrapper([wgcTooltip]='( ngModel / 100 ) | percent2')
//- 	input.wgc-slider__input(
//- 		type='range',
//- 		[tabindex]='tabindex',
//- 		[min]='min',
//- 		[max]='max',
//- 		[step]='step',
//- 		[disabled]='readonly || disabled || disableControl',
//- 		[(ngModel)]='ngModel',
//- 		(change)='onChanged( ngModel )',
//- 		(focus)='onFocus( $event )',
//- 		(blur)='onBlur( $event )')
