.layout-row.layout-align-center.layout-gap-8
	.semibold.text-color-hyperlink
		| {{ "BASE.BOARD.FORM.LABEL.DEVELOP_BY" | translate }}
	cub-image(
		width='80px',
		height='20px',
		src='assets/images/logos/logo-horizontal.svg')
