button(
	cubBasicButton,
	[icon]='isExpanding ? "collapse" : "expand"',
	[cubTooltip]='"LOGIC_EDITOR.LABEL." + ( isExpanding ? "COLLAPSE" : "EXPAND" ) | translate',
	(click)='isExpanding ? collapse() : expand()')
