div(
	style='background-color: rgb(249, 251, 253); padding: 20px;')
	div(
		style='width: 816px; height: 1056px; background: white; margin: auto; outline: 1px solid #c7c7c7; padding: 60px 0;')
		cub-paragraph-editor([data]='data')
