@import 'src/app/@cub/scss/partials/variable';

:host {
	&::ng-deep {
		a {
			font-weight: $font-weight-semibold;
		}

		.form-verify {
			max-width: 376px;
			height: 100%;
			width: 100%;
			gap: 22px;
			margin: 0 auto;
			.cub-form-field {
				&.cub-form-field--large {
					.cub-form-field__input {
						outline: unset;
						border-radius: unset;
						min-height: 44px;
						padding: 8px 11px;
						border-bottom: 1px solid $color-border-primary;

						&:focus-within {
							box-shadow: unset;
						}
					}

					input {
						font-size: 20px;
						font-style: normal;
						font-weight: 500;
						line-height: 28px;
						text-align: center;
					}
				}
			}
		}
	}
	
	.background-image {
		background-image: url('/assets/images/bg-board-signup.webp');
	}
}
