.cub-rating {
	$self: &;

	display: flex;
	align-items: center;
	column-gap: 4px;
	width: fit-content;
	height: fit-content;

	#{ $self }-point {
		max-width: 28px;
		opacity: .35;

		&#{ $self }-point--active {
			opacity: 1;
		}
	}
}
