wgc-page
	div(wgcPageHeader, divider)
		block header
	.layout-column.layout-align-start-center.full-viewport-vertical(wgcPageContent)
		.content.flex.mb-20
			block content
		.layout-row.layout-align-end.full-width
			//- language-selection
