@import 'src/scss/partials/variable';

.cub-member {
	$self: &;
	display: flex;
	align-items: center;

	#{ $self }__avatar {
		background-color: $color-white;
		border-radius: 50%;
		padding: 1px;
	}

	#{ $self }__data {
		display: flex;
		flex-direction: column;
		min-width: 0;
		margin-left: var(--margin-data);

		#{ $self }__name {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			gap: 4px;
			white-space: nowrap;
			color: $color-text-primary;
			font-size: var(--label-font-size);
		}

		#{ $self }__role {
			color: $color-text-secondary;
			font: {
				size: 12px;
				style: italic;
			}
		}
	}
}
