cub-image(
	fitMode='cover',
	position='below',
	cubTooltipMaxWidth='300px',
	[class.cub-file-thumbnail]='fileObject.thumbnailUrl',
	[src]='fileObject.thumbnailUrl || fileObject.iconUrl',
	[cubTooltip]='fileObject.filename',
	[cubTooltipDisableOpen]='!showNameOnTooltip')
