mixin preview-flag
	cub-image(
		[src]='countryCode | cubFlagImage',
		[width]='previewFlagSize',
		[minWidth]='previewFlagSize',
		[maxWidth]='previewFlagSize',
		[height]='previewFlagSize',
		[minHeight]='previewFlagSize',
		[maxHeight]='previewFlagSize')
