include ../file-picker.inside.pug

+header

+content
	.cub-file-picker-inside__picking-zone
		.cub-file-picker-inside__picking-zone__info
			cub-icon(
				name='./assets/@cub/images/icons/dropbox.svg',
				size='36px')
			| {{ "CUB.MESSAGE.PICK_FILE_FROM_DROPBOX" | translate }}
		button(
			cubButton='secondary',
			(click)='pick()')
			| {{ "CUB.LABEL.PICK_FILE" | translate }}

+footer
