include ../builder.include.pug

ng-template(#defaultBlock)
	email-field-input(
		autoFocusOn,
		[required]='false',
		[label]='"FIELD.BUILDER.LABEL.DEFAULT_VALUE" | translate',
		[field]='internalField',
		[(data)]='initialData',
		(dataChange)='onInitialDataChanged( $event )')

ng-container(
	*ngTemplateOutlet=`
		fieldTemplate;
		context: {
			defaultBlock,
			canSetRequired: true,
		};
	`)
