.cub-flowchart-wrapper(#wrapper)
	.cub-flowchart-content(#content)
		cub-flowchart-node(
			*ngIf='isReady',
			[node]='rootNode',
			(rendered)='onRootNodeRendered()')
	.cub-flowchart-line-stack(#lineStack)
