//- mixin sharingView
//- 	cub-menu(
//- 		#shareViewMenu,
//- 		width='300px')
//- 		cub-menu-content
//- 			ng-template(cubMenuContent, let-view='view')
//- 				.h6.text-color-primary.ml-12.mb-8(cubMenuItem)
//- 					| {{ "VIEW.COMMON.LABEL.WHO_CAN_ACCESS" | translate }}
//- 				.mb-8
//- 					button(
//- 						cubMenuSelectItem,
//- 						icon='user',
//- 						[iconColor]='view.sharingStatus === SHARING_TYPE.MANAGEABLE_ONLY ? "blue" : "primary"',
//- 						[selected]='view.sharingStatus === SHARING_TYPE.MANAGEABLE_ONLY',
//- 						(click)='sharedChange.emit({ view, sharingStatus: SHARING_TYPE.MANAGEABLE_ONLY })')
//- 						.line-height-20
//- 							| {{ "VIEW.COMMON.LABEL.ONLY_USER_CAN_MANAGE" | translate }}
//- 					button(
//- 						cubMenuSelectItem,
//- 						icon='user-group',
//- 						[iconColor]='view.sharingStatus === SHARING_TYPE.ACCESSIBLE_ALL ? "blue" : "primary"',
//- 						[selected]='view.sharingStatus === SHARING_TYPE.ACCESSIBLE_ALL',
//- 						(click)='sharedChange.emit({ view, sharingStatus: SHARING_TYPE.ACCESSIBLE_ALL })')
//- 						.line-height-20
//- 							| {{ "VIEW.COMMON.LABEL.ALL_USER_CAN_ACCESS" | translate }}
