ng-template(let-searchQuery='searchQuery')
	div(#ref, [ngClass]='classes', style='width: 100%; min-width: 0;')
		ng-content
	ng-container(*ngIf='!ref?.childNodes?.length')
		//- span([innerHtml]='( label || value ) | markText : searchQuery : true')
		| {{ ( label || value ) | empty }}
