@import 'src/app/@cub/scss/partials/variable';

:host {
	display: flex;
	flex-direction: row;
	width: 100%;
	min-width: 0;
	height: 100%;
	min-height: 0;
	position: relative;

	.left {
		display: flex;
		width: 100%;
		min-width: 0;
	}

	.right {
		display: flex;
		position: absolute;
		width: 576px;
		min-width: 576px;
		max-width: 576px;
		right: 0;
		top: 0;
		bottom: 0;

		background-color: $color-white;
	}
}
