@import 'src/app/@cub/scss/partials/variable';

:host {
    .overlay_loading {
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        background-color: $color-transparent-dark-grey-25;
    
        &--active {
            z-index: 1000;
        }
    
        &--container {
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 315px;
            height: 100%;
            margin: 0 auto;
            gap: 24px;
            color: $color-white;
        
            cub-slider {
                height: 20px;
            }
        }
    }
    .loader {
        aspect-ratio: 6;
        width: 35px;
        margin: {
            bottom: 5px;
            left: 2px;
        }
        background: 
            no-repeat radial-gradient(circle closest-side, #fff 90%, #0000) 0%   50%, 
            no-repeat radial-gradient(circle closest-side, #fff 90%, #0000) 50%  50%,
            no-repeat radial-gradient(circle closest-side, #fff 90%, #0000) 100% 50%; 
            size: calc(100%/3) 100%;

        animation: loading 1s infinite linear;
    }

    @keyframes loading {
        33% {
            background-size: calc(100% / 3) 0%,   
                             calc(100% / 3) 100%, 
                             calc(100% / 3) 100%; 
        }
        50% {
            background-size: calc(100% / 3) 100%,
                             calc(100% / 3) 0%,   
                             calc(100% / 3) 100%; 
        }
        66% {
            background-size: calc(100% / 3) 100%, 
                             calc(100% / 3) 100%,
                             calc(100% / 3) 0%;
        }
    }
}