@import 'src/app/@cub/scss/partials/variable';

.popup_loading {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 0;
	position: relative;
	gap: 8px;

	&--inner {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 12px;
	}

	&--close{
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
	}

	&--open {
		width: 100%;

		button {
			height: 24px;
			min-height: 24px;
			padding: unset;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			background-color: $color-material-default;
		}
	}
}

::ng-deep .cub-toast{
	background-color: #ffff !important;
}
