@import 'src/app/@cub/scss/partials/variable';

:host {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 0;
	height: 100%;
	min-height: 0;
	gap: 12px;

	::ng-deep {
		.cub-form-field.cub-form-field--disabled.cub-form-field--outlined {
			.cub-form-field__input:hover {
			outline-color: $color-border-primary;
			}
		}
		.cub-radio-group {
			.cub-radio-group__content {
				gap: 16px;
				
				.cub-radio {
					width: fit-content;
					
					.cub-radio__content {
						width: fit-content;
		
					}
				}

			}
		}
	}
}
