form(autocomplete='off')
	emoji-mart(
		[isNative]='true',
		[darkMode]='false',
		[enableSearch]='enableSearch',
		[showPreview]='false',
		[i18n]='i18n',
		(emojiClick)='pickEmoji( $event?.emoji )')
