@import '../../scss/partials/variable';

.cub-confirm {
	$self: &;

	width: 400px;
	min-width: 400px;
	max-width: 400px;

	#{ $self }__header__title {
		font-size: 16px;
		line-height: 28px;
		font-weight: $font-weight-semibold;

		word-break: break-word;
	}

	#{ $self }__content {
		display: flex;
		flex-direction: column;
		row-gap: 8px;

		#{ $self }__content__message,
		#{ $self }__content__warning {
			word-break: break-word;
		}

		#{ $self }__content__warning {
			color: $color-text-error;

			&:empty {
				display: none;
			}
		}
	}

	#{ $self }__action-bar {
		display: flex;
		column-gap: 12px;

		.cub-button {
			width: 100%;
			min-width: 0;
			max-width: 100%;
		}
	}

	.cub-popup {
		.cub-popup__header {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			row-gap: 4px;
			padding-bottom: 12px;
		}

		.cub-popup__content {
			display: flex;
			flex-direction: column;
			row-gap: 20px;
			padding-top: 16px;
		}

		.cub-popup__footer {
			border: none;
		}
	}
}
