.layout-column.full-width.full-height
	a.mt-32.ml-32(href='/')
		img(width='111px', height='28px',
		[lazyLoad]='"APP_LOGO_HORIZONTAL" | environment')
	+content
	.layout-row.mb-16
		copyright.full-width.text-center
//- .background-image
